<div class="container">
    <image src="http://h5.chuangshi.nowui.com/wawipet/image/login-logo.png"
           resize="cover"
           class="logo"></image>
    <div class="mobile">
        <image src="http://h5.chuangshi.nowui.com/wawipet/image/mobile.png"
               resize="cover"
               class="mobile-icon"></image>
    </div>
    <div class="captcha">
        <image src="http://h5.chuangshi.nowui.com/wawipet/image/captcha.png"
               resize="cover"
               class="captcha-icon"></image>
    </div>
    <text class="submit">登 录</text>
</div>