<div class="container">
    <text class="title">忘记密码？</text>
    <div class="mobile">
        <image src="http://h5.chuangshi.nowui.com/wawipet/image/mobile.png"
               resize="cover"
               class="mobile-icon"></image>
        <div class="mobile-main">
            <input type="text"
                   @change="handleMobileChange"
                   placeholder="请输入手机号"
                   class="mobile-main-input"/>
        </div>
    </div>
    <div class="captcha">
        <image src="http://h5.chuangshi.nowui.com/wawipet/image/captcha.png"
               resize="cover"
               class="captcha-icon"></image>
        <div class="captcha-main">
            <div class="captcha-main-left">
                <input type="text"
                       value="123456"
                       placeholder="请输入验证码"
                       class="captcha-main-input"/>
            </div>
            <text class="captcha-main-right"></text>
        </div>
    </div>
    <div class="submit"
         @click="handleSubmit">
        <text class="submit-text">下一步</text>
    </div>
</div>