.container {
    width: 750px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    background-color: #E9FBFF;
}

.tab-item {
    position: relative;
    width: 3000px;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
}

.close {
    position: absolute;
    top: 30px;
    left: 30px;
}