.container {
    width: 750px;
    align-items: center;
    justify-content: flex-start;
}

.title {
    font-family: PingFangSC-Light;
    font-size: 40px;
    color: #000000;
    margin-top: 80px;
}

.mobile {
    width: 504px;
    margin-top: 86px;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-icon {
    width: 26px;
    height: 40px;
}

.mobile-main {
    width: 450px;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-color: #d9d9d9;
}

.mobile-main-input {
    background-color: transparent;
    font-family: PingFangSC-Light;
    font-size: 24px;
    color: #000000;
}

.password {
    width: 504px;
    margin-top: 60px;
    flex-direction: row;
    justify-content: space-between;
}

.password-icon {
    width: 24px;
    height: 30px;
}

.password-main {
    width: 450px;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-color: #d9d9d9;
}

.password-main-input {
    background-color: transparent;
    font-family: PingFangSC-Light;
    font-size: 24px;
    color: #000000;
}

.captcha {
    width: 504px;
    margin-top: 60px;
    flex-direction: row;
    justify-content: space-between;
}

.captcha-icon {
    width: 36px;
    height: 32px;
}

.captcha-main {
    width: 450px;
    height: 40px;
    flex-direction: row;
    justify-content: space-between;
}

.captcha-main-left {
    width: 285px;
    height: 40px;
    border-bottom-width: 1px;
    border-bottom-color: #d9d9d9;
}

.captcha-main-input {
    background-color: transparent;
    font-family: PingFangSC-Light;
    font-size: 24px;
    color: #000000;
}

.captcha-main-right {
    font-family: PingFangSC-Light;
    font-size: 24px;
    color: #000000;
}

.submit {
    width: 504px;
    height: 80px;
    background-color: #9DD7E3;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.submit-text {
    font-family: PingFangSC-Light;
    font-size: 28px;
    color: #000000;
}