<div class="container">
    <!--头部-->
    <div class="header">
        <wxc-minibar background-color="transparent">
            <text slot="left"></text>
            <text class="header-title"
                  slot="middle">发布动态</text>
        </wxc-minibar>
    </div>
    <!--内容-->
    <scroller class="content"
              :style="{height: pageHeight}">
        <div class="upload-cell">
            <Upload :limit="9" eventName="topic-add-upload" :containerStyle="{width: 750}"></Upload>
        </div>
        <wxc-cell :has-arrow="false"
                  :has-top-border="true"
                  :has-bottom-border="true"
                  :auto-accessible="false"
                  :cell-style="{width: 750, height: 250, marginTop: 20, alignItems: 'flex-start'}">
            <div slot="title">
                <textarea placeholder="（选填）说点什么…"
                          @input="handleTopicSummaryInput"
                          class="cell-input"/>
            </div>
        </wxc-cell>
        <wxc-cell :has-arrow="true"
                  @wxcCellClicked="handleLocation"
                  :has-top-border="true"
                  :has-bottom-border="false"
                  :auto-accessible="false"
                  :cell-style="{width: 750, marginTop: 20}">
            <image class="cell-icon"
                   resize="cover"
                   slot="label"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/topic-location.png"></image>
            <div slot="title">
                <text class="cell-text-2">所在位置</text>
            </div>
        </wxc-cell>
        <wxc-cell :has-arrow="true"
                  @wxcCellClicked="handleRemind"
                  :has-top-border="true"
                  :has-bottom-border="false"
                  :auto-accessible="false"
                  :cell-style="{width: 750}">
            <image class="cell-icon"
                   resize="cover"
                   slot="label"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/remind.png"></image>
            <div slot="title">
                <text class="cell-text-2">提醒谁看</text>
            </div>
        </wxc-cell>
        <wxc-cell :has-arrow="true"
                  @wxcCellClicked="handleTag"
                  :has-top-border="true"
                  :has-bottom-border="true"
                  :auto-accessible="false"
                  :cell-style="{width: 750}">
            <image class="cell-icon"
                   resize="cover"
                   slot="label"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/tag.png"></image>
            <div slot="title">
                <text class="cell-text-2">添加标签</text>
            </div>
        </wxc-cell>
        <div class="public">
            <text class="cell-text">同步到我的圈子</text>
            <div class="topic">
                <text class="topic-tag" v-for="intiForum in initForumList">{{intiForum.forumName}}</text>
                <text class="topic-tag-active">猫狗双全</text>

            </div>
            <div class="button" >
                <div class="button-submit" @click="handleAddTopic">
                    <text class="button-submit-text" >发送</text>
                </div>
            </div>
            <div class="select">
                <text class="select-item">全选</text>
                <text class="select-item">全不选</text>
            </div>
        </div>

    </scroller>
</div>