<scroller class="container"
          :style="{height: pageHeight - 100}">
    <wxc-cell :has-arrow="false"
              :has-top-border="true"
              :has-bottom-border="true"
              :auto-accessible="false"
              :cell-style="{width: 750, height: 90}">
        <image class="avatar"
               @click="handleHomepage"
               resize="cover"
               slot="label"
               :src="imageHost + topic.theSendInfo.userAvatar"></image>
        <div slot="title">
            <text class="name" @click="handleHomepage">{{topic.theSendInfo.userNickName}}</text>
            <text class="time" @click="handleHomepage">{{topic.systemCreateTime | formNow}}</text>
        </div>
        <div class="button"
             slot="value">
            <div :class="false ? 'follow' : 'follow-active'"
                 @click="handleFollow">
                <text class="follow-text">+ 关注</text>
            </div>
        </div>
    </wxc-cell>
    <div class="content">
        <image class="content-image"
               @click="handleOpenImage"
               resize="cover"
               v-for="image in imageList"
               :src="image.src"></image>
        <text class="content-text">{{topic.topicSummary}}</text>
        <div class="info">
            <image class="location-icon"
                   resize="cover"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/location.png"></image>

            <text class="location-text">{{topic.topicLocation}}</text>
            <div class="from">
                <text class="from-title">来自</text>
                <text class="from-tag" v-for="(topicForum, index) in topic.topicForumList" @click="handleForumHomePage(topicForum.forumId)">{{topicForum.forumName}}</text>
            </div>
        </div>
        <div class="info">
            <div class="like">
                <image class="like-image"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/like-active.png" @click="handleClickLikeTopic" v-if="topic.topicUserIsLike"></image>
                <image class="like-image"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/like.png" @click="handleClickLikeTopic" v-else></image>
                <text class="like-text">{{topic.topicCountLike}}</text>

                <image class="like-avatar"
                       resize="cover"
                       v-for="topicUserLike in topic.topicUserLikeList"
                       :src="imageHost + topicUserLike.userAvatar" @click="handleTopicUserLikeList(topic.topicId)"></image>
            </div>
            <image class="bookmark-image"
                   resize="cover"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/bookmark.png" @click="handleBookmarkTopic"></image>
            <text class="bookmark-text">{{topic.topicCountBookmark}}</text>
            <image class="comment-image"
                   resize="cover"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/comment.png"></image>
            <text class="comment-text">{{topic.topicCountComment}}</text>
        </div>
    </div>
    <div class="feedback">
        <div class="feedback-item"
             v-for="(topicComment, index) in topicCommentList"
             :key="index">
            <div class="feedback-item-left">
                <image class="feedback-item-left-avatar"
                       resize="cover"
                       :src="imageHost + topicComment.userAvatar"></image>
            </div>
            <div class="feedback-item-right">
                <div class="feedback-item-right-header">
                    <div class="feedback-item-right-header-left">
                        <text class="feedback-item-right-header-left-name">{{topicComment.userNickName}}</text>
                        <text class="feedback-item-right-header-left-time">{{topicComment.systemCreateTime | formNow}}</text>
                    </div>
                    <div class="feedback-item-right-header-right">
                        <image class="feedback-item-right-header-right-like-image"
                               resize="cover"
                               src="http://h5.chuangshi.nowui.com/wawipet/image/like.png" @click="handleClickLikeComment(index)"></image>
                        <text class="feedback-item-right-header-right-text">{{topicComment.topicCommentLikeCount}}</text>
                    </div>
                </div>
                <text class="feedback-item-right-text">{{topicComment.topicCommentContent}}</text>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
    <wxc-lightbox
            ref="wxc-lightbox"
            height="750"
            :show="isShow"
            :image-list="imageList"
            @wxcLightboxOverlayClicked="handleCloseImage">
    </wxc-lightbox>
</scroller>