<div class="container">
    <div class="header">
        <wxc-minibar background-color="transparent"
                     :use-default-return="false">
            <div class="user"
                 slot="left"
                 @click="handleHomepage">
                <image class="header-user-icon"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/forum-user.png"></image>
            </div>
            <div class="header-menu"
                 slot="middle">
                <div class="header-menu-item"
                     @click="handleForum">
                    <text class="header-menu-item-text">圈子</text>
                </div>
                <div class="header-menu-item">
                    <text class="header-menu-item-text-active">动态</text>
                </div>
            </div>
            <div class="header-search"
                 slot="right"
                 @click="handleSearch">
                <image class="header-search-icon"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/forum-search.png"></image>
            </div>
        </wxc-minibar>
    </div>
    <scroller :style="{width: 750, height: pageHeight - 190}"
              offset-x-accuracy="0.1"
              @loadmore="handleLoad"
              loadmoreoffset="100">
        <Topic :topic="topic"
               :containerStyle="{marginBottom: 20, marginTop: index == 0 ? 20 : 0}"
               v-for="(topic, index) in topicList"
               :key="index"></Topic>
    </scroller>
    <image class="add"
           @click="handleAdd"
           resize="cover"
           src="http://h5.chuangshi.nowui.com/wawipet/image/topic-add.png"></image>
</div>