<div class="container">
    <!--头部-->
    <div class="header">
        <wxc-minibar background-color="transparent">
            <image src="http://h5.chuangshi.nowui.com/wawipet/image/form-user.png"
                   slot="left"
                   class="header-user"></image>
            <div class="header-menu"
                 slot="middle">
                <div class="header-menu-item"><text class="header-menu-item-text-active">圈子</text></div>
                <div class="header-menu-item"><text class="header-menu-item-text">动态</text></div>
            </div>
            <image src="http://h5.chuangshi.nowui.com/wawipet/image/forum-search.png"
                   slot="right"
                   class="header-search"></image>
        </wxc-minibar>
    </div>
    <Topic :topic="{}"></Topic>
</div>