<div class="container">
    <div class="header">
        <wxc-minibar background-color="transparent">
            <text slot="left"></text>
            <text class="header-title"
                  slot="middle">赞过的人</text>
        </wxc-minibar>
    </div>
    <scroller class="content"
              :style="{height: pageHeight}">
        <wxc-cell :has-arrow="false"
                  :has-top-border="false"
                  :has-bottom-border="true"
                  :auto-accessible="false"
                  :cell-style="{width: 750}"
                  v-for="(userLike, index) in userLikeList"
                  :key="index">
            <image class="cell-icon"
                   resize="cover"
                   slot="label"
                   :src="imageHost + userLike.userAvatarFilePath"></image>
            <div slot="title">
                <text class="cell-text">{{userLike.userNickName}}</text>
            </div>

            <div v-if="userLike.topicUserLikeIsSelf"></div>
            <div class="cell-bottom" solt="value" v-else>

                <div class="cell-bottom-active"
                     solt="value" v-if="userLike.memberIsFollow">
                    <text class="cell-bottom-text" @click="handleFollow(userLike.memberId, index)">已关注</text>
                </div>
                <div class="cell-bottom"
                     solt="value" v-else>
                    <text class="cell-bottom-text" @click="handleFollow(userLike.memberId, index)">+ 关注</text>
                </div>
            </div>

        </wxc-cell>
    </scroller>
</div>