<div class="container">
    <!--头部-->
    <div class="header">
        <image class="header-background"
               resize="cover"
               src="http://h5.chuangshi.nowui.com/wawipet/image/0.png"></image>
        <image class="header-avatar"
               resize="cover"
               src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/110/h/110"></image>
        <text class="header-name">Ronaldo</text>
        <text class="header-homepage">个人主页</text>
    </div>
    <wxc-cell :has-arrow="false"
              :has-top-border="false"
              :has-bottom-border="true"
              :auto-accessible="false"
              :cell-style="{width: 750, height: 104}">
        <div class="info">
            <div class="info-message">
                <image class="info-message-icon"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/my-news.png"></image>
                <text class="info-message-text">消息</text>
            </div>
            <div class="info-line"></div>
            <div class="info-collect">
                <image class="info-collect-icon"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/my-collect.png"></image>
                <text class="info-collect-text">收藏</text>
            </div>
        </div>
    </wxc-cell>

    <wxc-cell :has-arrow="true"
              :has-top-border="true"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{width: 750, marginTop: 20}">
        <image class="cell-icon"
               resize="cover"
               slot="label"
               src="http://h5.chuangshi.nowui.com/wawipet/image/my-user.png"></image>
        <div slot="title">
            <text class="cell-text">个人资料</text>
        </div>
    </wxc-cell>
    <wxc-cell :has-arrow="true"
              :has-top-border="true"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{width: 750}">
        <image class="cell-icon"
               resize="cover"
               slot="label"
               src="http://h5.chuangshi.nowui.com/wawipet/image/my-pet.png"></image>
        <div slot="title">
            <text class="cell-text">我的爱宠</text>
        </div>
    </wxc-cell>
    <wxc-cell :has-arrow="true"
              :has-top-border="true"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{width: 750}">
        <image class="cell-icon"
               resize="cover"
               slot="label"
               src="http://h5.chuangshi.nowui.com/wawipet/image/my-follow.png"></image>
        <div slot="title">
            <text class="cell-text">我的关注</text>
        </div>
    </wxc-cell>
    <wxc-cell :has-arrow="true"
              :has-top-border="true"
              :has-bottom-border="true"
              :auto-accessible="false"
              :cell-style="{width: 750}">
        <image class="cell-icon"
               resize="cover"
               slot="label"
               src="http://h5.chuangshi.nowui.com/wawipet/image/my-qrcode.png"></image>
        <div slot="title">
            <text class="cell-text">我的二维码</text>
        </div>
    </wxc-cell>
</div>