<div class="container">
    <div class="header">
        <image  class="header-background"
                        resize="cover"
                        src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/750/h/220"></image>
        <image class="header-icon"
               resize="cover"
               src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/140/h/140"></image>
    </div>
    <div>
        <text class="middle-top-username">大木木__Lin</text>
    </div>
    <div>
        <text class="middle-top-description">Capturing every moment of my life</text>
    </div>
    <div>
        <text class="middle-top-address">来自上海浦东新区</text>
    </div>

    <div class="middle-bottom">

        <div class="middle-bottom-count">
            <text>动态</text>
        </div>
        <div class="middle-bottom-count">
            <text>关注</text>
        </div>
        <div class="middle-bottom-count">
            <text>粉丝</text>
        </div>
    </div>

    <div class="bottom-title">
        <text>我的宠物</text>
    </div>
    <div class="bottom-header">
        <text>我的头像</text>
    </div>
</div>