<div class="container">
    <div class="header">
        <image  class="header-background"
                src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/750/h/220"></image>
    </div>
    <div class="middle-top">
        <div class="row"><text class="middle-top-username">描述</text></div>
        <div class="row"><text class="middle-top-description">  ddd  </text></div>
        <text class="middle-top-address">来自  上海  浦东新区</text>
    </div>
    <div class="middle-bottom">
        <text>关注数量</text>
    </div>
    <div class="bottom-title">
        <text>我的宠物</text>
    </div>
    <div class="bottom-header">
        <text>我的头像</text>
    </div>
</div>