.container {
    width: 750px;
    align-items: flex-start;
    justify-content: flex-start;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 99999;
}

.header-background {
    position: absolute;
    top: 0px;
    width: 750px;
    height: 88px;
    background-color: #defafd;
    z-index: 0;
}

.header-content {
    z-index: 1;
}

.header-content-user {
    width: 33px;
    height: 36px;
}

.header-content-logo {
    width: 268px;
    height: 62px;
    margin-top: 6px;
}

.header-content-search {
    width: 36px;
    height: 36px;
}

.banner {
    position: relative;
    top: -90px;
}

.banner-item {
    width: 750px;
    height: 890px;
}

.banner-indicator {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 750px;
    height: 60px;
    itemColor: #dddddd;
    itemSelectedColor: #ffffff;
    z-index: 999;
}

.category {
    top: -90px;
    width: 750px;
    height: 180px;
    margin-bottom: 8px;
    flex-direction: row;
    background-color: #ffffff;
}

.category-item {
    width: 188px;
    height: 180px;
    align-items: center;
    justify-content: center;
}

.category-item-image {
    width: 86px;
    height: 86px;
}

.category-item-text {
    font-size: 20px;
    text-align: center;
    color: #000000;
}

.article-header-title {
    font-family: PingFangSC-Light;
    font-size: 30px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article {
    top: -90px;
    height: 318px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    background-color: #ffffff;
}

.article-top {
    position: relative;
    width: 702px;
    height: 298px;
    align-items: center;
    justify-content: center;
}

.article-top-image {
    position: absolute;
    top: 0px;
    width: 702px;
    height: 298px;
}

.article-top-title {
    font-family: PingFangSC-Light;
    font-size: 24px;
    color: #ffffff;
}

.article-list {
    top: -90px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.article-list-image {
    width: 68px;
    height: 68px;
    margin-right: 24px;
}

.article-list-title {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #000000;
}

.pet-header-title {
    font-family: PingFangSC-Light;
    font-size: 30px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.pet-list {
    top: -90px;
    width: 750px;
    height: 180px;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: row;
    background-color: #ffffff;
}

.pet-list-item {
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.pet-list-item-image {
    position: absolute;
    top: 0px;
    width: 150px;
    height: 150px;
}

.pet-list-item-name {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
}

.pet-list-item-description {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
}

.member-header-title {
    font-family: PingFangSC-Light;
    font-size: 30px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.member-list {
    top: -90px;
    width: 750px;
    height: 296px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px;
    flex-direction: row;
}

.member-item {
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: #f0f0f0;
    border-radius: 4px;
    width: 220px;
    height: 296px;
    margin-right: 10px;
    align-items: center;
}

.member-avatar {
    width: 104px;
    height: 104px;
    margin-top: 30px;
    border-radius: 100px;
}

.member-name {
    font-family: PingFangSC-Regular;
    font-size: 26px;
    color: #4a4a4a;
    margin-top: 22px;
}

.member-recommend {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #4a4a4a;
}

.member-follow {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #000000;
    background-color: #defafd;
    border-radius: 31px;
    margin-top: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.member-follow-text {

}

.topic-header-title {
    font-family: PingFangSC-Light;
    font-size: 30px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    top: -90px;
    width: 750px;
    height: 230px;
    background-color: #DEFAFD;
    align-items: center;
    justify-content: center;
}

.footer-copyright {
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #000000;
}

.footer-record {
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #000000;
}

.footer-email {
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #000000;
}