<scroller class="container"
          :style="containerStyle"
          offset-x-accuracy="0.1"
          @scroll="handerScroll"
          @loadmore="handleLoad"
          loadmoreoffset="100">
    <!--头部-->
    <div class="header">
        <div class="header-background"
             :style="{opacity: headerBackgroundOpacity}"></div>
        <div class="header-content">
            <wxc-minibar background-color="transparent"
                         :use-default-return="false"
                         @wxcMinibarLeftButtonClicked="handleHomepage">
                <image class="header-content-user"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/index-user.png"
                       slot="left"></image>
                <image class="header-content-logo"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/index-logo.png"
                       slot="middle"></image>
                <div class="header-content-search"
                     slot="right"
                     @click="handleSearch">
                    <image class="header-content-search-icon"
                           resize="cover"
                           src="http://h5.chuangshi.nowui.com/wawipet/image/index-search.png"></image>
                </div>
            </wxc-minibar>
        </div>
    </div>
    <!--广告-->
    <slider class="banner banner-item" ref="banner">
        <div v-for="banner in bannerList">
            <image class="banner-item"
                   resize="cover"
                   :src="banner.image"></image>
        </div>
        <indicator class="banner-indicator"></indicator>
    </slider>
    <!--分类-->
    <scroller class="category" scroll-direction="horizontal">
        <div class="category-item" v-for="(category, index) in categoryList" :key="index" @click="handleCategory">
            <image class="category-item-image"
                   resize="cover"
                   :src="category.image"></image>
            <text class="category-item-text">{{category.name}}</text>
        </div>
    </scroller>
    <!--文章-->
    <wxc-cell :has-arrow="false"
              :has-top-border="false"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{top: -90, width: 750}">
        <text class="pet-header-title" slot="title">- 热门话题 -</text>
    </wxc-cell>
    <div class="article" @click="handleCategory">
        <div class="article-top">
            <image class="article-top-image"
                   resize="cover"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/1.png"></image>
            <text class="article-top-title">#盘点十大最适合狗狗吃的零食#</text>
        </div>
    </div>
    <scroller class="content"
              :style="{top: -90, width: 750, height: 300, alignItems: 'center', marginTop: 24, marginBottom: 24}">
        <wxc-cell :has-arrow="false"
                  :has-top-border="false"
                  :has-bottom-border="true"
                  :auto-accessible="false"
                  :cell-style="{width: 702}"
                  v-for="(article, index) in articleList" :key="index"
                  @wxcCellClicked="handleCategory">
            <image class="article-list-image"
                   resize="cover"
                   slot="label"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/0.png"></image>
            <text class="article-list-title"
                  slot="title">{{article.title}}
            </text>
        </wxc-cell>
    </scroller>
    <!--宠物-->
    <wxc-cell :has-arrow="false"
              :has-top-border="false"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{top: -90, width: 750}">
        <text class="pet-header-title" slot="title">- 新手指南 -</text>
    </wxc-cell>
    <scroller class="pet-list" scroll-direction="horizontal">
        <div class="pet-list-item"
             v-for="(pet, index) in petList"
             :key="index"
             @click="handleCategory">
            <image class="pet-list-item-image"
                   resize="cover"
                   :src="pet.image"></image>
            <div>
                <text class="pet-list-item-name">{{pet.name}}</text>
                <text class="pet-list-item-description">{{pet.description}}</text>
            </div>
        </div>
    </scroller>
    <!--会员-->
    <wxc-cell :has-arrow="false"
              :has-top-border="false"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{top: -90, width: 750, backgroundColor: 'rgb(246, 246, 246)'}">
        <text class="member-header-title" slot="title">- 猜你喜欢 -</text>
    </wxc-cell>
    <scroller class="member-list" scroll-direction="horizontal">
        <div class="member-item" v-for="(pet, index) in petList" :key="index">
            <image class="member-avatar"
                   resize="cover"
                   src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/104/h/104"></image>
            <text class="member-name">萌宠秀</text>
            <text class="member-recommend">编辑推荐</text>
            <text class="member-follow">去看看</text>
        </div>
    </scroller>
    <!--最新动态-->
    <wxc-cell :has-arrow="false"
              :has-top-border="false"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{top: -90, width: 750}">
        <text class="topic-header-title" slot="title">- 最新动态 -</text>
    </wxc-cell>
    <Topic :topic="topic" :topicStyle="{top: -90}" v-for="(topic, index) in topicList" :key="index"></Topic>
    <!--尾部-->
    <div class="footer">
        <text class="footer-copyright">copyright wawipet.com 2017-2019</text>
        <text class="footer-record">沪ICP备 12345678</text>
        <text class="footer-email">email:market@wawipet.com</text>
    </div>
</scroller>