<div class="container">
    <div class="header">
        <wxc-searchbar ref="wxc-searchbar"
                       @wxcSearchbarCancelClicked="wxcSearchbarCancelClicked"
                       @wxcSearchbarInputReturned="wxcSearchbarInputReturned"
                       @wxcSearchbarInputOnInput="wxcSearchbarInputOnInput"
                       @wxcSearchbarCloseClicked="wxcSearchbarCloseClicked"
                       @wxcSearchbarInputOnFocus="wxcSearchbarInputOnFocus"
                       @wxcSearchbarInputOnBlur="wxcSearchbarInputOnBlur"></wxc-searchbar>
    </div>
    <scroller class="content"
              :style="{height: pageHeight}">
        <div class="hot">
            <text class="hot-title">热门搜索</text>
            <div class="keyword">
                <text class="keyword-item">成犬喂养</text>
                <text class="keyword-item">猫咪绝育</text>
                <text class="keyword-item">狗狗掉毛</text>
                <text class="keyword-item">牛奶</text>
                <text class="keyword-item">寄养</text>
            </div>
        </div>
    </scroller>
</div>