<div class="container">
    <wxc-cell :has-arrow="false"
              :has-top-border="false"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{width: 750}">
        <image class="avatar"
               resize="cover"
               slot="label"
               src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/68/h/68"></image>
        <div slot="title">
            <text class="name">大木木_Lin</text>
            <text class="time">10分钟前</text>
        </div>
        <div slot="value"></div>
    </wxc-cell>
    <div class="content" v-if="topic.topicMediaList.length == 1">
        <image class="image-1-0"
               resize="cover"
               src="http://h5.chuangshi.nowui.com/wawipet/image/0.png"></image>
    </div>
</div>