<div class="container" :style="containerStyle">
    <wxc-cell :has-arrow="false"
              :has-top-border="true"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{width: 750, height: 90}">
        <image class="avatar"
               @click="handleMemberHomepage(topic.memberId)"
               resize="cover"
               slot="label"
               :src="imageHost + topic.theSendInfo.userAvatar"></image>
        <div slot="title">
            <text class="name" @click="handleHomepage">{{topic.theSendInfo.userNickName}}</text>
            <text class="time" @click="handleHomepage">{{topic.systemCreateTime | formNow}}</text>
        </div>
        <div slot="value"></div>
    </wxc-cell>
    <div class="media-1" v-if="topic.topicMediaList.length == 1" @click="handleTopic(topic.topicId)">
        <image class="media-image-1-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
    </div>
    <div class="media-2" v-if="topic.topicMediaList.length == 2" @click="handleTopic(topic.topicId)">
        <image class="media-image-2-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
        <image class="media-image-2-1"
               resize="cover"
               :src="imageHost + topic.topicMediaList[1].topicMedia"></image>
    </div>
    <div class="media-3" v-if="topic.topicMediaList.length == 3" @click="handleTopic(topic.topicId)">
        <image class="media-image-3-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
        <image class="media-image-3-1"
               resize="cover"
               :src="imageHost + topic.topicMediaList[1].topicMedia"></image>
        <image class="media-image-3-2"
               resize="cover"
               :src="imageHost + topic.topicMediaList[2].topicMedia"></image>
    </div>
    <div class="media-4" v-if="topic.topicMediaList.length == 4" @click="handleTopic(topic.topicId)">
        <image class="media-image-4-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
        <image class="media-image-4-1"
               resize="cover"
               :src="imageHost + topic.topicMediaList[1].topicMedia"></image>
        <image class="media-image-4-2"
               resize="cover"
               :src="imageHost + topic.topicMediaList[2].topicMedia"></image>
        <image class="media-image-4-3"
               resize="cover"
               :src="imageHost + topic.topicMediaList[3].topicMedia"></image>
    </div>
    <div class="media-5" v-if="topic.topicMediaList.length == 5" @click="handleTopic(topic.topicId)">
        <image class="media-image-5-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
        <image class="media-image-5-1"
               resize="cover"
               :src="imageHost + topic.topicMediaList[1].topicMedia"></image>
        <image class="media-image-5-2"
               resize="cover"
               :src="imageHost + topic.topicMediaList[2].topicMedia"></image>
        <image class="media-image-5-3"
               resize="cover"
               :src="imageHost + topic.topicMediaList[3].topicMedia"></image>
        <image class="media-image-5-4"
               resize="cover"
               :src="imageHost + topic.topicMediaList[4].topicMedia"></image>
    </div>
    <div class="media-6" v-if="topic.topicMediaList.length == 6" @click="handleTopic(topic.topicId)">
        <image class="media-image-6-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
        <image class="media-image-6-1"
               resize="cover"
               :src="imageHost + topic.topicMediaList[1].topicMedia"></image>
        <image class="media-image-6-2"
               resize="cover"
               :src="imageHost + topic.topicMediaList[2].topicMedia"></image>
        <image class="media-image-6-3"
               resize="cover"
               :src="imageHost + topic.topicMediaList[3].topicMedia"></image>
        <image class="media-image-6-4"
               resize="cover"
               :src="imageHost + topic.topicMediaList[4].topicMedia"></image>
        <image class="media-image-6-5"
               resize="cover"
               :src="imageHost + topic.topicMediaList[5].topicMedia"></image>
    </div>
    <div class="media-7" v-if="topic.topicMediaList.length == 7" @click="handleTopic(topic.topicId)">
        <image class="media-image-7-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
        <image class="media-image-7-1"
               resize="cover"
               :src="imageHost + topic.topicMediaList[1].topicMedia"></image>
        <image class="media-image-7-2"
               resize="cover"
               :src="imageHost + topic.topicMediaList[2].topicMedia"></image>
        <image class="media-image-7-3"
               resize="cover"
               :src="imageHost + topic.topicMediaList[3].topicMedia"></image>
        <image class="media-image-7-4"
               resize="cover"
               :src="imageHost + topic.topicMediaList[4].topicMedia"></image>
        <image class="media-image-7-5"
               resize="cover"
               :src="imageHost + topic.topicMediaList[5].topicMedia"></image>
        <image class="media-image-7-6"
               resize="cover"
               :src="imageHost + topic.topicMediaList[6].topicMedia"></image>
    </div>
    <div class="media-8" v-if="topic.topicMediaList.length == 8" @click="handleTopic(topic.topicId)">
        <image class="media-image-8-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
        <image class="media-image-8-1"
               resize="cover"
               :src="imageHost + topic.topicMediaList[1].topicMedia"></image>
        <image class="media-image-8-2"
               resize="cover"
               :src="imageHost + topic.topicMediaList[2].topicMedia"></image>
        <image class="media-image-8-3"
               resize="cover"
               :src="imageHost + topic.topicMediaList[3].topicMedia"></image>
        <image class="media-image-8-4"
               resize="cover"
               :src="imageHost + topic.topicMediaList[4].topicMedia"></image>
        <image class="media-image-8-5"
               resize="cover"
               :src="imageHost + topic.topicMediaList[5].topicMedia"></image>
        <image class="media-image-8-6"
               resize="cover"
               :src="imageHost + topic.topicMediaList[6].topicMedia"></image>
        <image class="media-image-8-7"
               resize="cover"
               :src="imageHost + topic.topicMediaList[7].topicMedia"></image>
    </div>
    <div class="media-9" v-if="topic.topicMediaList.length == 9" @click="handleTopic(topic.topicId)">
        <image class="media-image-9-0"
               resize="cover"
               :src="imageHost + topic.topicMediaList[0].topicMedia"></image>
        <image class="media-image-9-1"
               resize="cover"
               :src="imageHost + topic.topicMediaList[1].topicMedia"></image>
        <image class="media-image-9-2"
               resize="cover"
               :src="imageHost + topic.topicMediaList[2].topicMedia"></image>
        <image class="media-image-9-3"
               resize="cover"
               :src="imageHost + topic.topicMediaList[3].topicMedia"></image>
        <image class="media-image-9-4"
               resize="cover"
               :src="imageHost + topic.topicMediaList[4].topicMedia"></image>
        <image class="media-image-9-5"
               resize="cover"
               :src="imageHost + topic.topicMediaList[5].topicMedia"></image>
        <image class="media-image-9-6"
               resize="cover"
               :src="imageHost + topic.topicMediaList[6].topicMedia"></image>
        <image class="media-image-9-7"
               resize="cover"
               :src="imageHost + topic.topicMediaList[7].topicMedia"></image>
        <image class="media-image-9-8"
               resize="cover"
               :src="imageHost + topic.topicMediaList[8].topicMedia"></image>
    </div>
    <div class="content" @click="handleTopic(topic.topicId)">
        <text class="content-text">{{topic.topicSummary}}</text>
    </div>

    <div class="info">
        <div class="info-topic">
            <text class="info-topic-from">同步到</text>
            <text class="info-topic-tag" v-for="(topicForum, index) in topic.topicForumList"  @click="handleForumHomePage(topicForum.forumId)">{{topicForum.forumName}}</text>
        </div>

        <image class="info-like-icon"
               resize="cover"
               src="http://h5.chuangshi.nowui.com/wawipet/image/like-active.png" @click="handleClickLikeTopic" v-if="topic.topicUserIsLike"></image>
        <image class="info-like-icon"
               resize="cover"
               src="http://h5.chuangshi.nowui.com/wawipet/image/like.png" @click="handleClickLikeTopic" v-else></image>
        <text class="info-like-number">{{topic.topicCountLike}}</text>

        <image class="info-bookmark-icon"
               resize="cover"
               src="http://h5.chuangshi.nowui.com/wawipet/image/bookmark.png" @click="handleBookmarkTopic"></image>
        <text class="info-bookmark-number">{{topic.topicCountBookmark}}</text>

        <image class="info-comment-icon"
               resize="cover"
               src="http://h5.chuangshi.nowui.com/wawipet/image/comment.png"></image>
        <text class="info-comment-number">{{topic.topicCountComment}}</text>
    </div>
</div>