.container {
    background-color: #defafd;
}

.tab-item {
    width: 750px;
    align-items: flex-start;
    justify-content: flex-start;
}

.line {
    position: relative;
    left: 0;
    width: 750px;
    border-bottom-width: 1px;
    /*border-bottom-color: rgb(226, 226, 226);*/
    border-bottom-color: #000000;
}