<div class="wrapper">
    <wxc-tab-bar ref="wxc-tab-bar"
                 :is-tab-view="true"
                 :tab-titles="tabList"
                 :tab-styles="tabStyle"
                 title-type="icon"
                 :duration="0"
                 @wxcTabBarCurrentTabSelected="handerTabSelected">
        <!--首页-->
        <HomeIndex :tabHeight="tabStyle.height"></HomeIndex>

        <!--首页-->
        <ForumIndex :tabHeight="tabStyle.height"></ForumIndex>

        <!--&lt;!&ndash;第三页内容&ndash;&gt;-->
        <!--<div class="tab-item" :style="contentStyle">-->
            <!--<text>服务</text>-->
        <!--</div>-->

        <!--&lt;!&ndash;第四页内容&ndash;&gt;-->
        <!--<div class="tab-item" :style="contentStyle">-->
            <!--<text>我的</text>-->
        <!--</div>-->
    </wxc-tab-bar>
</div>