.container {
    width: 750px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
}

.tab-item {
    /*position: relative;*/
    width: 1500px;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
}