<scroller class="container"
          :style="{height: pageHeight}">
    <!--头部-->
    <div class="header">
        <div class="header-content">
            <wxc-minibar background-color="#fafafa"
                         @wxcMinibarLeftButtonClicked="minibarLeftButtonClick"
                         :use-default-return="false">
                <text slot="left">返回</text>
                <text class="header-title"
                      slot="middle">买家订单信息</text>
            </wxc-minibar>
        </div>
    </div>
    <wxc-tab-page ref="wxc-tab-page"
                  :tab-titles="tabTitles"
                  :tab-styles="tabStyles"
                  title-type="text"
                  :needSlider="needSlider"
                  :is-tab-view="isTabView"
                  :tab-page-height="tabPageHeight"
                  :spm-c="4307989"
                  @wxcTabPageCurrentTabSelected="wxcTabPageCurrentTabSelected">
        <list v-for="(v,index) in tabList"
              :key="index"
              class="item-container"
              :style="{ height: (tabPageHeight - tabStyles.height) + 'px' }">
            <cell class="border-cell"></cell>
            <cell v-for="(demo,key) in v"
                  class="cell"
                  :key="key">
                <wxc-pan-item :ext-id="'1-' + (v) + '-' + (key)"
                              url="https://h5.m.taobao.com/trip/ticket/detail/index.html?scenicId=2675"
                              @wxcPanItemPan="wxcPanItemPan">
                    <div class="content">
                        <text>{{key}}</text>
                    </div>
                </wxc-pan-item>
            </cell>
        </list>
    </wxc-tab-page>
</scroller>