<scroller class="container"
          :style="{height: pageHeight}">
    <!--头部-->
    <div class="header">
        <div class="header-content">
            <wxc-minibar background-color="#fafafa"
                         @wxcMinibarLeftButtonClicked="handleBack"
                         @wxcMinibarRightButtonClicked="minibarRightButtonClick"
                         :use-default-return="false">
                <text slot="left">取消</text>
                <text class="header-title"
                      slot="middle">充值</text>
            </wxc-minibar>
        </div>
    </div>
    <div class="cell-input-bg">
        <text class="cell-input-tips">金额</text>
        <input  type="number"  class="inputItem" placeholder="请输入充值金额" value=""  @change="onchange" @return = "onreturn" @input="oninput"/>
    </div>
    <div class="nextstep">
        <text class="cell-next-tips">下一步</text>
    </div>
</scroller>