<scroller class="container"
          :style="{height: pageHeight}">
    <!--头部-->
    <div class="header">
        <div class="header-content">
            <wxc-minibar background-color="fafafa" @wxcMinibarLeftButtonClicked="handleBack"
                         :use-default-return="false">
                <text class="header-title"
                      slot="middle">我的钱包</text>
            </wxc-minibar>
        </div>
    </div>
    <div class="top">
        <text class="top-amount">0.00</text>
        <text class="top-freeze-amount">冻结款项：0.00</text>
    </div>
    <wxc-cell :has-arrow="true"
              @wxcCellClicked="handlerecharge"
              :has-top-border="false"
              :has-bottom-border="true"
              :auto-accessible="false"
              :cell-style="{width: 750, marginTop: 20}">
        <image class="cell-icon"
               resize="cover"
               slot="label"
               src="http://h5.chuangshi.nowui.com/wawipet/image/my-user.png"></image>
        <div slot="title">
            <text class="cell-text">充值</text>
        </div>
    </wxc-cell>
    <wxc-cell :has-arrow="true"
              @wxcCellClicked="handledraw"
              :has-top-border="false"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{width: 750}">
        <image class="cell-icon"
               resize="cover"
               slot="label"
               src="http://h5.chuangshi.nowui.com/wawipet/image/my-user.png"></image>
        <div slot="title">
            <text class="cell-text">提现</text>
        </div>
    </wxc-cell>
    <wxc-cell :has-arrow="true"
              @wxcCellClicked="handleBankcart"
              :has-top-border="false"
              :has-bottom-border="true"
              :auto-accessible="false"
              :cell-style="{width: 750,marginTop: 20}">
        <image class="cell-icon"
               resize="cover"
               slot="label"
               src="http://h5.chuangshi.nowui.com/wawipet/image/my-user.png"></image>
        <div slot="title">
            <text class="cell-text">管理银行卡</text>
        </div>
    </wxc-cell>
    <wxc-cell :has-arrow="true"
              @wxcCellClicked="handleFundDetail"
              :has-top-border="false"
              :has-bottom-border="false"
              :auto-accessible="false"
              :cell-style="{width: 750}">
        <image class="cell-icon"
               resize="cover"
               slot="label"
               src="http://h5.chuangshi.nowui.com/wawipet/image/my-user.png"></image>
        <div slot="title">
            <text class="cell-text">资金明细</text>
        </div>
    </wxc-cell>
</scroller>