<div class="wrapper">
    <wxc-tab-bar ref="wxc-tab-bar"
                 :tab-titles="tabTitles"
                 :tab-styles="tabStyles"
                 title-type="icon"
                 :duration="0"
                 @wxcTabBarCurrentTabSelected="wxcTabBarCurrentTabSelected">
        <!--The first page content-->
        <scroller class="item-container" :style="contentStyle" @scroll="handerScroll">
            <div class="header-background" :style="{opacity: opacity}"></div>
            <wxc-minibar class="header" background-color="#transparent">
                <image src="http://h5.chuangshi.nowui.com/wawipet/image/index-user.png"
                       slot="left"
                       style="width: 40px; height: 44px;"></image>
                <image src="http://h5.chuangshi.nowui.com/wawipet/image/index-logo.png"
                       slot="middle"
                       style="width: 268px; height: 62px; margin-top: 6px;"></image>
                <image src="http://h5.chuangshi.nowui.com/wawipet/image/index-search.png"
                       slot="right"
                       style="width: 36px; height: 36px;"></image>
            </wxc-minibar>
            <slider class="slider size">
                <div v-for="src in posters">
                    <image class="size" resize="cover" :src="src"></image>
                </div>
                <indicator class="indicator"></indicator>
            </slider>
            <scroller class="category" scroll-direction="horizontal">
                <div class="category-item" v-for="(char, index) in lists" :key="char">
                    <image :src="'http://h5.chuangshi.nowui.com/wawipet/image/category-' +index + '.png'"
                           style="width: 86px; height: 86px;"></image>
                    <text class="category-item-text">{{char}}</text>
                </div>
            </scroller>
            <div class="category-line"></div>
        </scroller>

        <!--The second page content-->
        <div class="item-container" :style="contentStyle">
            <text>社区</text>
        </div>

        <!-- The third page content-->
        <div class="item-container" :style="contentStyle">
            <text>服务</text>
        </div>

        <!-- The fourth page content-->
        <div class="item-container" :style="contentStyle">
            <text>我的</text>
        </div>
    </wxc-tab-bar>
</div>