<div class="container">
    <!--头部-->
    <div class="header">
        <wxc-minibar background-color="transparent">
            <text slot="left"></text>
            <text class="header-title"
                  slot="middle">创建圈子</text>
        </wxc-minibar>
    </div>
    <!--内容-->
    <scroller class="content"
              :style="{height: pageHeight}">
        <div class="upload-cell">
            <text class="cell-text upload-cell-title">上传圈子照片</text>
            <Upload :limit="1" eventName="forum-add-upload" :containerStyle="{width: 114}"></Upload>
        </div>
        <div class="upload-background-cell">
            <text class="cell-text upload-cell-background-title">上传圈子背景</text>
            <Upload :limit="5" eventName="forum-add-background-upload" :containerStyle="{width: 750}"></Upload>
        </div>
        <wxc-cell :has-arrow="false"
                  :has-top-border="true"
                  :has-bottom-border="true"
                  :auto-accessible="false"
                  :cell-style="{width: 750, height: 180, marginTop: 20, alignItems: 'flex-start'}">
            <div slot="title">
                <text class="cell-text"
                      :style="{marginBottom: 10}">圈子名称</text>
                <div class="line"></div>
                <input type="text"
                       @input="handleForumNameInput"
                       placeholder="输入不超过25个字符的圈子名称"
                       class="cell-input"/>
            </div>
        </wxc-cell>
        <wxc-cell :has-arrow="false"
                  :has-top-border="true"
                  :has-bottom-border="true"
                  :auto-accessible="false"
                  :cell-style="{width: 750, height: 250, marginTop: 20, alignItems: 'flex-start'}">
            <div slot="title">
                <text class="cell-text" :style="{marginBottom: 10}">圈子简介</text>
                <div class="line"></div>
                <textarea class="cell-input"
                          @input="handleForumDescriptionInput"
                          placeholder="请输入超过255个字符的圈子简介"/>
            </div>
        </wxc-cell>
        <div class="button" :style="{height: 500}">
            <div class="submit"
                 @click="handleSubmit">
                <text class="submit-text">提交审核</text>
            </div>
        </div>
        <wxc-loading :show="isLoad"></wxc-loading>
    </scroller>
</div>