<div class="container">
    <div class="header">
        <image class="header-background"
               resize="cover"
               :src="imageHost + forum.forumBackgroundMediaFilePath"></image>
        <image class="header-avatar"
               resize="cover"
               :src="imageHost + forum.forumMediaFilePath"></image>
    </div>
    <div class="info">
        <text class="info-name">{{forum.forumName}}</text>
        <text class="info-description">{{forum.forumDescription}}</text>

        <div  v-if = "forum.memberIsFollowForum">
            <text class="join-text" >已经加入圈子</text>
        </div>
        <div class="join" v-else>
            <text class="join-text" @click="handleJoinForum(forum.forumId)">加入圈子</text>
        </div>

        <div class="line"></div>
        <wxc-cell @wxcCellClicked="handleMember"
                  :has-arrow="false"
                  :has-top-border="false"
                  :has-bottom-border="true"
                  :auto-accessible="false"
                  :cell-style="{width: 750}">
            <image class="member-avatar"
                   resize="cover"
                   slot="label"
                   @click="handleMemberHomepage(forum.forumModeratorMemberId)"
                   :src="imageHost + forum.userAvatarFilePath"></image>
            <div slot="title">
                <text class="member-name">{{forum.userNickName}}</text>
                <text class="member-description">{{forum.memberSignature}}</text>
            </div>
            <div slot="value"></div>
        </wxc-cell>
    </div>
    <Topic :topic="topic"
           :containerStyle="{marginBottom: 20}"
           v-for="(topic, index) in topicList"
           :key="index"></Topic>
</div>