.container {
    width: 750px;
    align-items: flex-start;
    justify-content: flex-start;
}

.header {
    width: 750px;
    height: 90px;
    border-bottom-width: 1px;
    border-bottom-color: #D8D8D8;
    background-color: #ffffff;
}

.header-add {
    width: 48px;
    height: 48px;
}

.header-menu {
    width: 200px;
    height: 62px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-menu-item {
    width: 100px;
    align-items: center;
    justify-content: center;
}

.header-menu-item-text {
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #000000;
}

.header-menu-item-text-active {
    align-items: center;
    justify-content: center;
    font-family: PingFangSC-Regular;
    font-size: 32px;
    color: #C18108;
}

.header-search {
    width: 36px;
    height: 36px;
}

.content {
    width: 750px;
}

.follow-image {
    width: 44px;
    height: 32px;
    border-radius: 100px;
}

.follow-title {
    margin-left: 16px;
    font-family: PingFangSC-Light;
    font-size: 30px;
    color: #000000;
}

.follow-forum {
    width: 750px;
    height: 760px;
    background-color: #f2fdfe;
    padding-top: 24px;
    padding-buttom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    align-items: center;
    justify-content: center;
}

.follow-forum-image {
    width: 154px;
    height: 154px;
    border-radius: 10px;
    margin-right: 20px;
}

.follow-forum-name {
    font-family: PingFangSC-Regular;
    font-size: 30px;
    color: #000000;
}

.follow-forum-description {
    height: 76px;
    font-family: PingFangSC-Light;
    font-size: 24px;
    color: #000000;
}

.follow-forum-info {
    margin-top: 10px;
    flex-direction: row;
}

.follow-forum-info-crown {
    position: absolute;
    top: -15px;
    left: 5px;
    width: 20px;
    height: 12px;
    border-radius: 100%;
    margin-top: 3px;
}

.follow-forum-info-avatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.follow-forum-info-name {
    margin-left: 10px;
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #000000;
    flex: 1;
}

.follow-forum-info-number {
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #000000;
}

.follow-forum-more {
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.follow-forum-more-text {
    font-family: PingFangSC-Light;
    font-size: 24px;
    color: #000000;
}

.follow-forum-more-icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}