<div class="container">
    <div class="header">
        <wxc-minibar background-color="transparent"
                     :use-default-return="false">
            <div class="header-add"
                 slot="left"
                 @click="handleAdd">
                <image class="header-add-icon"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/forum-add.png"></image>
            </div>
            <div class="header-menu"
                 slot="middle">
                <div class="header-menu-item">
                    <text class="header-menu-item-text-active">圈子</text>
                </div>
                <div class="header-menu-item"
                     @click="handleTopic">
                    <text class="header-menu-item-text">动态</text>
                </div>
            </div>
            <div class="header-search"
                 slot="right"
                 @click="handleSearch">
                <image class="header-search-icon"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/forum-search.png"></image>
            </div>
        </wxc-minibar>
    </div>
    <scroller :style="{width: 750, height: pageHeight - 190, marginBottom: 60}"
              @loadmore="handleLoadHotTopicList"
              loadmoreoffset="1000">
        <!--我加入的圈子-->
        <wxc-cell :has-arrow="false"
                  :has-top-border="false"
                  :has-bottom-border="true"
                  :auto-accessible="false"
                  :cell-style="{width: 750}">
            <image class="follow-image"
                   resize="cover"
                   slot="label"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/forum-follow.png"></image>
            <div slot="title">
                <text class="follow-title">我加入的圈子</text>
            </div>
        </wxc-cell>
        <div class="follow-forum">
            <wxc-cell :has-arrow="false"
                      :has-top-border="false"
                      :has-bottom-border="false"
                      :auto-accessible="false"
                      :cell-style="{width: 750 - 24 - 24, height: 200, marginTop: index > 0 ? 24 : 0}"
                      v-for="(forum, index) in followForumList"
                      :key="index">

                <image @click="handleHomepage(forum.forumId)"
                    class="follow-forum-image"
                    resize="cover"
                    slot="label"
                    :src="imageHost + forum.forumMediaFilePath"></image>
                <div slot="title">
                    <text @click="handleHomepage(forum.forumId)" class="follow-forum-name">{{forum.forumName}}</text>
                    <text @click="handleHomepage(forum.forumId)" class="follow-forum-description">{{forum.forumDescription}}</text>
                    <div class="follow-forum-info">
                        <image class="follow-forum-info-crown"
                        resize="cover"
                        src="http://h5.chuangshi.nowui.com/wawipet/image/crown.png"></image>
                        <image class="follow-forum-info-avatar"
                        resize="cover"
                              :src="imageHost + forum.userAvatarFilePath"></image>

                        <text class="follow-forum-info-name">{{forum.userNickName}}</text>
                        <text @click="handleHomepage(forum.forumId)" class="follow-forum-info-number">今日最新话题数: {{forum.forumTodayTopicCount}}</text>
                    </div>
                </div>
            </wxc-cell>
            <div class="follow-forum-more" @click="handleFollow">
                <text class="follow-forum-more-text">查看更多</text>
                <image class="follow-forum-more-icon"
                       resize="cover"
                       src="http://h5.chuangshi.nowui.com/wawipet/image/forum-more.png"></image>
            </div>
        </div>
        <!--你可能感兴趣的圈子-->
        <wxc-cell :has-arrow="false"
                  :has-top-border="true"
                  :has-bottom-border="false"
                  :auto-accessible="false"
                  :cell-style="{width: 750, backgroundColor: '#fbfcfc'}">
            <image class="interest-image"
                   resize="cover"
                   slot="label"
                   src="http://h5.chuangshi.nowui.com/wawipet/image/interest.png"></image>
            <div slot="title">
                <text class="interest-title">你可能感兴趣的圈子</text>
            </div>
        </wxc-cell>
        <wxc-ep-slider :slider-id="2"
                       :card-length="5"
                       :container-s="{width: 750, height: 510, overflow: 'hidden', backgroundColor: '#fbfcfc'}"
                       :card-s="{width: 480, height: 480, spacing: 0, scale: 0.8}"
                       :auto-play="false"
                       :select-index="1">
            <wxc-pan-item v-for="(forumRecommend,index) in forumRecommendList"
                          :key="index"
                          :ext-id="index"
                          :class="['slider',`slider${index}`]"
                          :slot="`card${index}_2`"
                          :accessible="true"
                          :aria-label="`这里是第${index + 1}个滑块`">
                <div class="interest-item" @click="handleHomepage(forumRecommend.forumId)">
                    <image class="interest-item-avatar"
                           resize="cover"
                           :src="imageHost + forumRecommend.forumMediaFilePath"></image>
                    <text class="interest-item-name">{{forumRecommend.forumName}}</text>
                    <text class="interest-item-description">{{forumRecommend.forumDescription}}</text>
                    <div class="interest-item-image">
                        <image class="interest-item-image-item"
                               resize="cover"
                               :src="imageHost + forumRecommend.forumMediaFilePath"></image>
                        <image class="interest-item-image-item"
                               resize="cover"
                               :src="imageHost + forumRecommend.forumMediaFilePath"></image>
                        <image class="interest-item-image-item"
                               resize="cover"
                               :src="imageHost + forumRecommend.forumMediaFilePath"></image>
                    </div>
                    <text class="interest-item-join">加入</text>
                </div>
            </wxc-pan-item>
        </wxc-ep-slider>
        <!--热门动态-->
        <wxc-cell :has-arrow="false"
                  :has-top-border="true"
                  :has-bottom-border="false"
                  :auto-accessible="false"
                  :cell-style="{width: 750}">
            <text class="topic-header-title" slot="title">- 热门动态 -</text>
        </wxc-cell>
        <Topic :topic="topic"
               :index="index"
               :key="index"
               :containerStyle="{marginBottom: 20}"
               v-for="(topic , index) in hotTopicList"
               ></Topic>
    </scroller>
</div>