<scroller class="container"
          :style="{height: pageHeight}">
    <div class="header">
        <image class="header-background"
               resize="cover"
               :src="imageHost + member.memberBackgroundFilePath"></image>
        <image class="header-avatar"
               resize="cover"
               :src="imageHost + member.userAvatarFilePath"></image>
    </div>
    <div class="info">
        <div class="info-header">
            <text class="info-header-name">{{member.userNickName}}</text>
            <text class="info-header-from" v-if="member.memberAddressCity">来自 {{member.memberAddressCity}} {{member.memberAddressArea}}</text>
        </div>
        <text class="info-description">{{member.memberSignature}}</text>
        <div class="info-footer">
            <div class="info-footer-left">
                <div class="info-footer-left-item">
                    <text class="info-footer-left-item-number">{{member.memberSendTopicCount}}</text>
                    <text class="info-footer-left-item-text">动态</text>
                </div>
                <div class="info-footer-left-item">
                    <text class="info-footer-left-item-number">{{member.memberFollowCount}}</text>
                    <text class="info-footer-left-item-text">关注</text>
                </div>
                <div class="info-footer-left-item">
                    <text class="info-footer-left-item-number">{{member.memberBeFollowCount}}</text>
                    <text class="info-footer-left-item-text">粉丝</text>
                </div>
            </div>
            <div class="info-footer-right" v-if="!selfHomePage">
                <div class="info-footer-right-message">
                    <text class="info-footer-right-message-text">私信</text>
                </div>
                <div class="info-footer-right-follow">
                    <text class="info-footer-right-follow-text">关注 TA</text>
                </div>
            </div>
        </div>
    </div>
    <div class="pet">
        <text class="pet-text">TA的宠物</text>
        <text class="pet-name">牛头梗</text>
    </div>
    <Topic :topic="topic"
           :containerStyle="{marginBottom: 20}"
           v-for="(topic, index) in topicList"
           :key="index"></Topic>
</scroller>